<h2> <%= @restaurant.name %> - <%= @restaurant.category %> </h2>

<ul>
<li> Address: <%= @restaurant.address %> </li>
<li> Phone Number: <%= @restaurant.phone_number %></li>
</ul>

<%= link_to "Back to list", restaurants_path  %>

<h3>Reviews: </h3>

  <% @reviews.each do |rev| %>
  <p> <%= rev.content %> - <%= "*" * rev.rating %> </p>
  <% end %>

<%= link_to "Add review",new_restaurant_review_path(@restaurant)  %>
